#header{ margin-top: 30px; }
#page-container { margin-bottom: 20px; }

.taskTs{
    margin-top:5px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 100px;
  margin-bottom: 120px;
}

.bg-none{
    background: none !important;
}
.bg-white{
    background-color:#fff !important;
}

.bg-charcoal{
    background: #333 !important;
}

.bg-mdgrey{
    background-color:#ddd !important;
}

.role_subtask{
    background-color: #ddd;
    border: 1px solid #aaa;
}

.primary-color{
    background-color:#4989bd;
}
.success-color{
    background-color:#5cb85c;
}
.danger-color{
    background-color:#f2dede;
}
.warning-color{
    background-color:#f0ad4e;
}
.info-color{
    background-color:#5bc0de;
}
.no-color{
    background-color:inherit;
}

/* Gantt */

.mm00, .mm05,.mm10,.mm15,.mm20,.mm25,.mm30,.mm35,.mm40,.mm45,.mm50,.mm55,.mm60{
    position:absolute;
    margin-top:5px;
    z-index:1;
    height:10px;
    width:10px;
    border-radius:15px;
    
}

.mml00, .mml05, .mml10, .mml15, .mml20, .mml25, .mml30, .mml35, .mml40, .mml45, .mml50, .mml55, .mml60{
    position:absolute;
    height:20px;
    text-align: left;
}

.mm00, .mml00{left:1.25%;}
.mm05, .mml05{left:8.82%;}
.mm10, .mml10{left:17.1%;}
.mm15, .mml15{left:25.2%;}
.mm20, .mml20{left:33.4%;}
.mm25, .mml25{left:41.5%;}
.mm30, .mml30{left:49.6%;}
.mm35, .mml35{left:57.6%;}
.mm40, .mml40{left:66.1%;}
.mm45, .mml45{left:74.2%;}
.mm50, .mml50{left:82.1%;}
.mm55, .mml55{left:90.72%;}
.mm60, .mml60{left:96.7%;}



.tl-mark:hover {
    opacity:1.0;
    color: #00816C !important;
    font-family: FontAwesome;
    content: "\f067";
    z-index: 10000;

}
.tl-mark {
    background-color:#999;
    opacity:0.4;
}

.tline-markers{
    background-color:#999;
    opacity:0.5;
}
.tline-markers-q{
    background-color:#FF0000;
    opacity:0.6;
}
.tline-markers-h{
    background-color:#FF0000;
    opacity:0.6;
}

.tline-markers:hover {
    opacity:1.0;
    color: #00816C !important;
    font-family: FontAwesome;
    content: "\f067";
    z-index: 10000;

}

/*
.tl-mark:hover {
    background-color:#00816C;
    opacity:0.4;
}
  


.tl-mark:before{
     content: "\f067"; 
    font-family: FontAwesome;
    opacity:0.4;
    position:absolute;
    top:-5px;
}

.tl-mark:hover{
    position:relative;
    background-color:#00816C
    opacity:1.0;
    top:0;
    font-family: FontAwesome;
    content: "\f111";
    
}
*/
 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer*/
  height: 90px;
  background-color: #f5f5f5;
}


.container-fluid {
     //padding-right: 25px; /*15px in bootstrap.css*/
     //padding-left: 25px;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

/* Margins */
.xxs-top-marg {	margin-top: 0.1em; }
.xs-top-marg { margin-top: 0.2em; }
.xs-right-marg { margin-right: 0.2em; }
/*.sm-top-marg { margin-top: 10px; }*/
.sm-top-marg { margin-top: 0.5em; }
.md-top-marg { margin-top: 15px; }
.lg-top-marg { margin-top: 25px; }

.neg-sm-bot-marg { margin-bottom: -10px; }
.xxs-bot-marg { margin-bottom: 0.1em; }
.xs-bot-marg { margin-bottom: 0.2em; }
.sm-bot-marg { margin-bottom: 0.5em; }
.md-bot-marg { margin-bottom: 1.0em; }
.lg-bot-marg { margin-bottom: 1.5em; }

/* Utility Classes */
.hiddenRow { padding: 0 !important; }
.hide-me {	visibility: hidden; }

.center-y {
	height:100%;
    vertical-align: middle !important;
}

.center-x {
    margin-left: auto;
    margin-right: auto;
}

.strikethrough { text-decoration: line-through; }
.bolder { font-weight: bolder; }
.fine-print { font-size: 10px !important; }
.highlight { background: #ffcc00 !important; }
.highlight2 { background: pink !important; }

.navbar-yh-unauth {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}

.bg-yh {
	color: #fff !important;
	background-color: #00816C !important;
	border-color: #00816C !important;
}

.bg-yh>a:link { color: #fff !important; }

.panel-yh { border-color: #00816C; }

.panel-yh > .panel-heading {
	color: #fff;
	background-color: #00816C;
	border-color: #00816C;
}

.panel-bsteel { border-color: #485656; }
.panel-bsteel > .panel-heading{
	color: #fff;
	background-color: #455352;
	border-color: #485656;
}

.panel-b2 { border-color: #055B1C; }
.panel-b2 > .panel-heading{
	color: #fff;
	background-color: #078E2C;
	border-color: #055B1C;
}

.panel-b3 { border-color: #520B0B; }
.panel-b3 > .panel-heading{
	color: #fff;
	background-color: #731010;
	border-color: #520B0B;
}

.panel-bold { border-color: #ccc; }
.panel-bold > .panel-heading{
	color: #fff;
	background-color: #33312D;
	border-color: #ccc;
}

.panel-bsuccess { border-color: #ccc; }
.panel-bsuccess > .panel-heading{
	color: #fff;
	background-color: #00816C;
	border-color: #ccc;
}

.panel-bdanger { border-color: #B91A18; }
.panel-bdanger > .panel-heading{
	color: #fff;
	background-color: #B91A18;
}

.panel-bold { border-color: #1C1B19; }
.panel-bold > .panel-heading{
	color: #fff;
	background-color: #33312D;
	border-color: #1C1B19;
}

.panel-yh > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #00816C;
}

.panel-yh > .panel-footer + .panel-collapse .panel-body { border-bottom-color: #00816C; }

.panel-dark { border-color: #555; }

.panel-dark > .panel-heading {
	color: #fff;
	background-color: #555;
	border-color: #555;
}

.panel-dark > .panel-heading + .panel-collapse .panel-body { border-top-color: #555; }

.panel-dark > .panel-footer + .panel-collapse .panel-body {	border-bottom-color: #555; }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {	border: 1px solid #777 !important; }

.table-bordered > tbody > tr > td { border-bottom: 1px solid #555 !important; }

.badge-white {color: #000; background-color: #fff !important;}
.badge-black {color: #fff; background-color: #101010 !important;}
.badge-warning {color: #fff; background-color: #8A0808 !important;}
.badge-success {color: #fff; background-color: #0B610B !important;}
.badge-danger {color: #fff; background-color: #B91A18 !important;}
.badge-yh {color: #fff; background-color: #00816C !important;}
.navbar-default .navbar-brand-white {color: #fff;}

.navbar-inverse .navbar-brand { color: #fff; }
.navbar-inverse .navbar-nav > li > a { color: #ddd; }
.navbar-text-white { color: #fff; }

hr.inSubtask{
	margin-top: 3px;
	margin-bottom: 3px;
	border-top: 1px solid #aaa !important;
	width: 100%;
	margin-left: 0px;
}

#ajax-spinner {
	display: none;
	text-align: middle;
}

#ajax-menu-spinner { display: none; }

/* BOOTSTRAP 3 Mods */
/*Adds Navbar Submenu support... dropped in BS3!
 * credit: http://bootply.com/86684
 * */

.dropdown-submenu {
	position: relative;
	overflow: visible;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	  overflow: visible;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
	  overflow: visible;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after { border-left-color: #ffffff; }

.dropdown-submenu.pull-left { float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* Navbar for teams */
.navbar-default {
	background-color: #DDDDDD;
	border-color: #808080;
}
.navbar-default .navbar-brand { color: #555555; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000000;
	background-color: transparent;
}
.navbar-default .navbar-text { color: #555555; }
.navbar-default .navbar-nav > li > a {color: #666666; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #222222;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555555;
	background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #666666;
	background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: #dddddd; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #dddddd; }
.navbar-default .navbar-toggle .icon-bar { background-color: #cccccc; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #e6e6e6; }

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret { border-top-color: #555; border-bottom-color: #555; }
.navbar-default .navbar-nav > .dropdown > a .caret { border-top-color: #777; border-bottom-color: #777; }
.navbar-default .navbar-link { color: #777; }
.navbar-default .navbar-link:hover { color: #333333; }

.text-white { color: #ffffff; }
.text-yh { color: #00816C; }
.highlight-new { color: #04B404; }
.highlight-duesoon {color: #8A0808; }
.highlight-thistask {
	color: #333 !important;
	background-color: #ffff00 !important;
}

.label-as-badge { order-radius: 1em; }

.btn-inline {  display: inline; }

.btn-unselected:hover, .btn-unselected:focus, .btn-unselected.focus, .btn-unselected:active, .btn-unselected.active, .open > .dropdown-toggle.btn-unselected {
  color: #222;
  background-color: #ddd;
  border-color: #666;
}

.btn-allzone {
  color: #2e6da4;
  background-color: #fff;
  border-color: #2e6da4;
}

.btn-allzone:hover, .btn-allzone:focus, .btn-allzone.focus, .btn-allzone:active, .btn-allzone.active, .open > .dropdown-toggle.btn-allzone {
  color: #333;
  background-color: #fff;
  border-color: #2e6da4;
}

.btn-ttrid2 {
  color: #333333;
  background-color: #fff;
  border-color: #ccc;
}

.tt-btn{
    margin-right:3px;
    margin-top:3px;
    padding: 2px 5px;
}

.ttl-btn{
    margin-right:3px;
    margin-top:3px;
    padding: 2px 5px;

}
.btn-ttrid0 {
  color: #101010;
  background-color: #a6a6a6;
  border-color: #333;
}

.btn-pale-yellow {
  color: #333;
  background-color: #ffffcc;
  border-color: #ccc;
}

.btn-pale-yellow:hover, 
.btn-pale-yellow:focus,
.btn-pale-yellow.focus,
.btn-pale-yellow:active,
.btn-pale-yellow.active,
.open > .dropdown-toggle.btn-pale-yellow {
  color: #333;
  background-color: #ffff40 !important;
  border-color: #bbb;
}


.btn-vert{ margin-bottom: 5px; }

.btn-darkgrey {
  color: #fff;
  background-color: #3a3a3a;
  border-color: #222;
}

.btn-darkgrey:hover, 
.btn-darkgrey:focus,
.btn-darkgrey.focus,
.btn-darkgrey:active,
.btn-darkgrey.active,
.open > .dropdown-toggle.btn-darkgrey {
  color: #fff;
  background-color: #222 !important;
  border-color: #111;
}

.btn-ttrid1 {
  color: #fff;
  background-color: #3a3a3a;
  border-color: #222;
}

.btn-orange{
  color: #fff;
  background-color: #ff751a; /*f56a00*/
  border-color: #e65c00;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active{
  color: #fff;
  background-color: #d87300 !important;
  border-color: #e65c00;
}

.btn-ttrid1:hover,
.btn-ttrid1:focus,
.btn-ttrid1.focus,
.btn-ttrid1:active,
.btn-ttrid1.active,
.open > .dropdown-toggle.btn-ttrid1 {
  color: #fff;
  background-color: #222 !important;
  border-color: #111;
}

.btn-xxs {
	font-size: 14px !important;
	font-weight: 500;
	padding: 3px 4px;
	line-height: 1;
	border-radius: 0px;
	margin: 0px 2px 3px 0px;
}

.btn-xxxs {
    font-size: 12px !important;
    font-weight: 500;
    padding: 3px 4px;
    line-height: 1;
    border-radius: 0px;
    margin: 0px 3px 2px 0px;
}

.btn-team-pdf {
    font-size: 14px !important;
    font-weight: 500;
    padding: 3px 4px;
    line-height: 1;
    border-radius: 0px;
    margin-bottom: 10px !important;
}

.btn-yh {
  color: #fff;
  background-color: #00816C;
  border-color: #007a63;
}

.btn-yh:hover, .btn-yh:focus, .btn-yh.focus, .btn-yh:active, .btn-yh.active{
  color: #fff !important;
  background-color: #006757 !important;
  border-color: #007a63;
}

.panel-title-sm {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
}

.panel-title-sm > a { color: inherit; }

.panel-heading-sm {
	padding: 10px 10px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

/* FOR color picker */
.simplecolorpicker.fontawesome span.color[data-selected]:after {
	font-family: 'FontAwesome';
	-webkit-font-smoothing: antialiased;
	content: '\f00c'; /* Ok/check mark */
	margin-right: 1px;
	margin-left: 1px;
}

.dropdown-menu a { cursor: pointer; }

.no-borders { border: 0px !important; }

.label {
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.label-important, .badge-important { background-color: #b94a48; }

.label-new, .badge-new { background-color: #11EE33; }

h4.great {
	background: #00ac98;
	margin: 10px 0px 5px 0px;
	padding: 8px 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow: 2px 4px 5px 0 #ccc;
	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
	box-shadow: 2px 4px 5px 0 #ccc;
}

h4.eday {
	background: #F3720A;
	margin: 10px 0px 5px -5px;
	padding: 8px 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow: 2px 4px 5px 0 #ccc;
	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
	box-shadow: 2px 4px 5px 0 #ccc;
}

.text-align-right{ text-align: right; }

.task-panel {
	margin-bottom: 6px;
	/*background-color: transparent;*/
	background-color: #FFCC00;
	color: #333333;
	background-color: #f7f7f7;
	border-color: #a5a5a5;
	border-top: 1px solid #a5a5a5;
	border-left: 5px solid #555;
	border-bottom: 1px solid #a5a5a5;
	border-right: 1px solid #a5a5a5;
	border-radius: 4px;
	box-shadow: none;
	page-break-inside: avoid;

}

.taskPanelBody {
	padding:0px;
	//padding-top:20px;
	margin-bottom:0px;
	background: #fff;
}

.task-panel-heading {
	background-color: #eee !important;
	padding: 5px 10px 5px 10px !important;
	word-wrap: break-word; /* This allows URLs to wrap */
}

.task-panel-heading-nodet { background-color: #CFECF5 !important; }

.subtask_display{ word-wrap: break-word; /* This allows URLs to wrap */ }

.task-panel-heading-muted { background-color: #bdbdbd !important; }

label.task {
	font-weight: normal;
	line-height: 1.2;
	display: block;
	float: left;
	padding-left: 18px;
	text-indent: -18px;
}

/*Summernote*/
.note-editable { background-color: #fff; }

.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 0px;
	text-decoration: none !important;
	color: #000000;
	background-color: rgba(235, 235, 235, 0.80);
	font-size: 12px;
	padding: 1em;
	display: none;
	z-index: 100000;
}

.back-to-top:hover {
	text-decoration: none !important;
	background-color: rgba(135, 135, 135, 0.50);
	z-index: 10000;
}

.ban-edit { cursor: not-allowed !important; }
.btn-danger.ban-edit{ cursor: not-allowed !important; }

/* Panel with Tabs (Credit: http://bootsnipp.com/snippets/featured/panels-with-nav-tabs)  */
.panel.with-nav-tabs > .panel-heading { padding: 8px 5px 0 15px; }
.panel.with-nav-tabs .nav-tabs { border-bottom: none; }
.panel.with-nav-tabs .nav-justified { margin-bottom: -1px; }
/*** PANEL YH ***/
.with-nav-tabs.panel-standard .nav-tabs > li > a, .with-nav-tabs.panel-standard .nav-tabs > li > a:hover, .with-nav-tabs.panel-standard .nav-tabs > li > a:focus {
	color: #fff;
	//font-weight: bold;
	border-color: transparent;
	//background-color: #fff;
	//background: rgba(0, 0, 0, 0.00);
    //opacity: 0.8;
    //filter: alpha(opacity=80); /* For IE8 and earlier */
}

.with-nav-tabs.panel-standard .nav-tabs > li > a.dark { color: #000 !important; }

.with-nav-tabs.panel-standard .nav-tabs > .open > a, .with-nav-tabs.panel-standard .nav-tabs > .open > a:hover, .with-nav-tabs.panel-standard .nav-tabs > .open > a:focus, .with-nav-tabs.panel-standard .nav-tabs > li > a:hover, .with-nav-tabs.panel-standard .nav-tabs > li > a:focus {
	color: #000;
	background-color: #fff;
	border-color: transparent;
	//background: rgba(0, 0, 0, 0);

}
.with-nav-tabs.panel-standard .nav-tabs > li.active > a, .with-nav-tabs.panel-standard .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-standard .nav-tabs > li.active > a:focus {
	color: #000;
	background-color: #fff;
	//border-color: #444;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > li > a { color: #fff; }
.with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > li > a:hover, .with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #fff;
	color: #000;
}
.with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > .active > a, .with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover, .with-nav-tabs.panel-standard .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #333;
}

.panel-standard {  border-color: transparent; }
.panel-standard > .panel-heading {
  color: #fff;
  background-color: #525252;
  border-color: transparent;
}
.panel-standard > .panel-heading + .panel-collapse > .panel-body { border-top-color: #333; }
.panel-standard > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-standard > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #333; }

.panel-resetMarg{
	padding-top:0px;
	margin-bottom: 0px;
  	background-color: #fff;
	border:0px;
  	border-radius: 0px;
  	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
  	box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.xs-bot-pad { padding-bottom: 2px !important; }

/*CHECKBOXES*/
.facheckbox { padding-left: 15px; }
.facheckbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}
.facheckbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.facheckbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}
.facheckbox input[type="checkbox"] { opacity: 0; }
.facheckbox input[type="checkbox"]:checked + label::after {	font-family: 'FontAwesome'; content: "\f00c"; }
.facheckbox input[type="checkbox"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }
.facheckbox.facheckbox-circle label::before { border-radius: 50%; }
.facheckbox.facheckbox-inline { margin-top: 0; }
.facheckbox-primary input[type="checkbox"]:checked + label::before { background-color: #428bca;	border-color: #428bca; }
.facheckbox-primary input[type="checkbox"]:checked + label::after { color: #fff; }
.facheckbox-danger input[type="checkbox"]:checked + label::before {	background-color: #d9534f;	border-color: #d9534f; }
.facheckbox-danger input[type="checkbox"]:checked + label::after { color: #fff; }
.facheckbox-info input[type="checkbox"]:checked + label::before { background-color: #5bc0de; border-color: #5bc0de; }
.facheckbox-info input[type="checkbox"]:checked + label::after { color: #fff; }
.facheckbox-warning input[type="checkbox"]:checked + label::before { background-color: #f0ad4e; border-color: #f0ad4e; }
.facheckbox-warning input[type="checkbox"]:checked + label::after { color: #fff; }
.facheckbox-success input[type="checkbox"]:checked + label::before { background-color: #5cb85c; border-color: #5cb85c; }
.facheckbox-success input[type="checkbox"]:checked + label::after {	color: #fff; }
.table tbody>tr>td{ vertical-align: middle; }
.highlighter{ background-color: #F3F315 !important; }
.va-mid { vertical-align: middle !important; }

.linked_task {
  min-height: 14px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  margin-right: 0px;
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  border-left: 5px solid #ff0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.urgentTask {
  min-height: 14px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  margin-right: 0px;
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  border-left: 5px solid #ff0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wellops {
  min-height: 14px;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: 40px;
  margin-right: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #ff0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;

}

.wellops blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.wellops-lg {
  padding: 24px;
  border-radius: 6px;
}

.wellops-sm {
  padding: 9px;
  border-radius: 3px;
}

a {  color: #00816C; }

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a > button{ text-decoration: none !important; }

.panel-body-tcom {
  padding: 3px 10px; 
}
.panel-heading-tcom {
  padding: 3px 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-comment {
  border-color: #aaa;
  margin-bottom: 5px !important;
}
.panel-comment > .panel-heading {
  color: #333;
  background-color: #ddd;
  border-color: #bbb;
}
.panel-comment > .panel-heading + .panel-collapse > .panel-body {  border-top-color: #bbb;}
.panel-default > .panel-footer + .panel-collapse > .panel-body {  border-bottom-color: #bbb; }
.panel-tcom {position:relative;}
.panel-tcom >.panel-heading:after,.panel>.panel-heading:before{	position:absolute;	top:11px;left:-16px; right:100%; width:0; height:0;	display:block; content:" ";	border-color:transparent; border-style:solid solid outset; pointer-events:none;}
.panel-tcom >.panel-heading:after{ border-width:7px; border-right-color:#ddd; margin-top:1px; margin-left:2px; }
.panel-tcom>.panel-heading:before{ border-right-color:#aaa;	border-width:8px;}

.thumbnail-comment { padding:0px; }

.well-danger {
    background: rgb(217, 237, 247);
    color: #fff;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span.clickable { font-size: 15px; }

.slim-alert {
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.hr-slim{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #bbb;
}

.pagination > li.disabled.pagNum > a {
	color: #fff;
	background-color: #00816C;
}

/* Timeline adapted from: http://bootsnipp.com/snippets/0yWXG */
.timeline-centered{position:relative;margin-bottom:10px}
.timeline-centered:before,.timeline-centered:after{content:" ";display:table}
.timeline-centered:after{clear:both}
.timeline-centered:before,.timeline-centered:after{content:" ";display:table}
.timeline-centered:after{clear:both}
.timeline-centered:before{content:'';position:absolute;display:block;width:4px;background:#f5f5f6;top:20px;bottom:20px;margin-left:30px}
.timeline-centered .timeline-entry{position:relative;margin-top:5px;margin-left:30px;margin-bottom:10px;clear:both}
.timeline-centered .timeline-entry:before,.timeline-centered .timeline-entry:after{content:" ";display:table}
.timeline-centered .timeline-entry:after{clear:both}
.timeline-centered .timeline-entry:before,.timeline-centered .timeline-entry:after{content:" ";display:table}
.timeline-centered .timeline-entry:after{clear:both}
.timeline-centered .timeline-entry.begin{margin-bottom:0}
.timeline-centered .timeline-entry.left-aligned{float:left}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner{margin-left:0;margin-right:-18px}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time{left:auto;right:-100px;text-align:left}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon{float:right}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label{margin-left:0;margin-right:70px}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after{left:auto;right:0;margin-left:0;margin-right:-9px;-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.timeline-centered .timeline-entry .timeline-entry-inner{position:relative;margin-left:-20px}
.timeline-centered .timeline-entry .timeline-entry-inner:before,.timeline-centered .timeline-entry .timeline-entry-inner:after{content:" ";display:table}
.timeline-centered .timeline-entry .timeline-entry-inner:after{clear:both}
.timeline-centered .timeline-entry .timeline-entry-inner:before,.timeline-centered .timeline-entry .timeline-entry-inner:after{content:" ";display:table}
.timeline-centered .timeline-entry .timeline-entry-inner:after{clear:both}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time{position:absolute;left:-100px;text-align:right;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span{display:block}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child{font-size:15px;font-weight:700}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child{font-size:12px}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon{background:#fff;color:#737881;display:block;width:40px;height:40px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;text-align:center;-moz-box-shadow:0 0 0 5px #f5f5f6;-webkit-box-shadow:0 0 0 5px #f5f5f6;box-shadow:0 0 0 5px #f5f5f6;line-height:40px;font-size:15px;float:left}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary{background-color:#303641;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary{background-color:#ee4749;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success{background-color:#00a651;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-default{background-color:#fff;color:#000}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-norole{background-color:#bbb;color:#000}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-lead{background-color:#3a3a3a;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info{background-color:#21a9e1;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning{background-color:#fad839;color:#000}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger{background-color:#cc2424;color:#fff}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label{position:relative;background:#f5f5f6;padding:1em;margin-left:60px;margin-right:10px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after{content:'';display:block;position:absolute;width:0;height:0;border-style:solid;border-width:9px 9px 9px 0;border-color:transparent #f5f5f6 transparent transparent;left:0;top:10px;margin-left:-9px}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p{color:#737881;font-family:"Noto Sans",sans-serif;margin:0;line-height:1.428571429}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p{margin-top:15px}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2{font-size:16px;margin-bottom:10px}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a{color:#303641}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span{-webkit-opacity:.6;-moz-opacity:.6;opacity:.6;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60)}


/* SUMMERNOTE */
.note-editor .note-dropzone { opacity: 0 !important; }

  .form-group.required label:after {
  color: #d00;
    content: "*";
    position: absolute;

}






















@media (max-width: 960px) {
  body { margin-top: 80px; }
}

@media (min-width: 1050px) {
  body { margin-top: 80px; }
}

@media (max-width:768px){
	body {	margin-top: 80px; }
	
    .navbar-header { float: none; }
    .navbar-left,.navbar-right { float: none !important; }
    .navbar-toggle { display: block; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none!important;}
    .navbar-nav { float: none!important; margin-top: 7.5px;}
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;}
    .collapse.in{ display:block !important;} 
}

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
    page-break-inside: avoid;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #333 !important;
    padding: 5px !important;
  }
  
	td, tr{
		page-break-inside: avoid;
	}
	
	body{
		margin-top: 0px;
	}
	
	#header{
		margin-top:0px;
	}
}


